<div class="register-container">
  <div class="register-box">
    <h1>Register</h1>
    <form [formGroup]="userForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          id="email"
          type="email"
          placeholder="Enter your email"
          formControlName="email"
          [ngClass]="{'invalid': this.userForm.controls['email'].invalid && this.userForm.controls['email'].touched}"
        />
        <div *ngIf="emailErrorMessage" class="error-message">
          <span>{{ emailErrorMessage }}</span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          id="password"
          type="password"
          placeholder="Enter your password"
          formControlName="password"
          [ngClass]="{'invalid': this.userForm.controls['password'].invalid && this.userForm.controls['password'].touched}"
        />
        <div *ngIf="passwordErrorMessage" class="error-message">
          <span>{{ passwordErrorMessage }}</span>
        </div>
      </div>

      <button
        type="submit"
        class="register-button"
      >
        Register
      </button>
    </form>
    <button class="register-button login-button-container" routerLink="/Login">
      Login
    </button>
  </div>
</div>
