<div class="login-container">
  <div class="login-box">
    <h1>Login</h1>
    <form [formGroup]="userForm" (ngSubmit)="loginUser()">
      <div class="form-group">
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          formControlName="email"
          [ngClass]="{'invalid': this.userForm.controls['email'].invalid && this.userForm.controls['email'].touched}"
        />
        @if (this.userForm.controls['email'].invalid && this.userForm.controls['email'].touched) {
          <div class="error-message">
            @if (this.userForm.controls['email'].errors?.['required']) {
              <span>Email is required</span>
            }
            @if (this.userForm.controls['email'].errors?.['email']) {
              <span>Please enter a valid email</span>
            }
            @if (this.userForm.controls['email'].errors?.['pattern']) {
              <span>Invalid email format</span>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          formControlName="password"
          [ngClass]="{'invalid': this.userForm.controls['password'].invalid && this.userForm.controls['password'].touched}"
        />
        @if (this.userForm.controls['password'].invalid && this.userForm.controls['password'].touched) {
          <div class="error-message">
            @if (this.userForm.controls['password'].errors?.['required']) {
              <span>Password is required</span>
            }
            @if (this.userForm.controls['password'].errors?.['minlength']) {
              <span>Password must be at least 8 characters</span>
            }
          </div>
        }
      </div>
      <button type="submit" class="login-button" routerLink="/home">Login</button>
    </form>
    <button class="login-button register-button-container" routerLink="/Register" routerLinkActive="active">Register
    </button>
  </div>
</div>
