<div class="add-contact-container">
  <h2>{{ editContacts ? 'Edit Contact' : 'Add Contact' }}</h2>
  <form [formGroup]="contactForm" (ngSubmit)="editContacts ? saveEditedContact() : addContact()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        [ngClass]="{'invalid': contactForm.controls['firstName'].invalid && contactForm.controls['firstName'].touched}"
      />
      <div *ngIf="firstNameErrorMessage" class="error-message">
        <span>{{ firstNameErrorMessage }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        [ngClass]="{'invalid': contactForm.controls['lastName'].invalid && contactForm.controls['lastName'].touched}"
      />
      <div *ngIf="lastNameErrorMessage" class="error-message">
        <span>{{ lastNameErrorMessage }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{'invalid': contactForm.controls['email'].invalid && contactForm.controls['email'].touched}"
      />
      <div *ngIf="emailErrorMessage" class="error-message">
        <span>{{ emailErrorMessage }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="jobTitle">Job Title</label>
      <input
        id="jobTitle"
        type="text"
        formControlName="jobTitle"
        [ngClass]="{'invalid': contactForm.controls['jobTitle'].invalid && contactForm.controls['jobTitle'].touched}"
      />
      <div *ngIf="jobTitleErrorMessage" class="error-message">
        <span>{{ jobTitleErrorMessage }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="company">Company Name</label>
      <input
        id="company"
        type="text"
        formControlName="company"
        [ngClass]="{'invalid': contactForm.controls['company'].invalid && contactForm.controls['company'].touched}"
      />
      <div *ngIf="companyErrorMessage" class="error-message">
        <span>{{ companyErrorMessage }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        id="phone"
        type="text"
        formControlName="phone"
        [ngClass]="{'invalid': contactForm.controls['phone'].invalid && contactForm.controls['phone'].touched}"
      />
      <div *ngIf="phoneErrorMessage" class="error-message">
        <span>{{ phoneErrorMessage }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="landline">Landline</label>
      <input
        id="landline"
        type="text"
        formControlName="landline"
        [ngClass]="{'invalid': contactForm.controls['landline'].invalid && contactForm.controls['landline'].touched}"
      />
      <div *ngIf="landlineErrorMessage" class="error-message">
        <span>{{ landlineErrorMessage }}</span>
      </div>
    </div>

    <div class="form-group">
      <label for="fax">Fax</label>
      <input
        id="fax"
        type="text"
        formControlName="fax"
        [ngClass]="{'invalid': contactForm.controls['fax'].invalid && contactForm.controls['fax'].touched}"
      />
      <div *ngIf="faxErrorMessage" class="error-message">
        <span>{{ faxErrorMessage }}</span>
      </div>
    </div>
    <button class="btn save-btn" type="submit">
      {{ editContacts ? 'Save' : 'Add Contact' }}
    </button>
  </form>
</div>
